/* css for vi tilbyder */
.container{
    margin-top: 4%;
}
.vi_tilbyder_paragraph{
    font-size: 20px;
}
#vi_tilbyder_ul {
    margin: 0;
    overflow: hidden;
    /* background-color: #333; */
    justify-content: center;
}

#vi_tilbyder_ul li {
    list-style: none;
    padding-left: 0rem;
    width: 388px;
}
#vi_tilbyder_ul li:before {
    content: '✓';
  }
#vi_tilbyder_ul ul{
    padding-left: 0rem;
}

#services{
    margin-top: 110px;
}
/* Vi tilbyder style slut */
